html { background: #000 }
body {
	font: 100% sans-serif;
	color: #fff;
}
input {
	width: 400px; max-width: 100%;
	font-size: 1em;
}
svg {
	max-width: 800px;
	display: block;
	margin-top: 4px;
	fill: #aaa;
}
tspan { fill: #fff }
h2 { font-weight: normal }
#hourly rect:not(:hover) + text, #hourly rect:not(:hover) + text + text, #hourly rect:not(:hover) + text + text + ellipse, #hourly rect:not(:hover) + text + text + line + ellipse { opacity: 0 }
line { stroke: #fff }
path {
	stroke: #0ff;
	fill: none;
}
ellipse, text, line { pointer-events: none }