html { background: #000 }
body {
	font: 100% "Lucida Grande" sans-serif;
	color: #fff;
}
input {
	width: 32em; max-width: calc(100% - 7em);
	font-size: 1em;
}
svg {
	max-width: 800px;
	display: block;
	margin-top: 4px;
	fill: #aaa;
}
tspan { fill: #fff }
h1 { font-size: 2em }
h1, h2 { font-weight: normal }
#hourly rect:not(:hover) + text, #hourly rect:not(:hover) + text + text, #hourly rect:not(:hover) + text + text + ellipse, #hourly rect:not(:hover) + text + text + line + ellipse { opacity: 0 }
#minutely rect:not(:hover) + text, #minutely rect:not(:hover) + text + text, #minutely rect:not(:hover) + text + text + text, #minutely rect:not(:hover) + text + text + text + ellipse, #minutely rect:not(:hover) + text + text + text + line + ellipse { opacity: 0 }
#minutely path { fill: url(#rain-gradient) }
#hourly path {
	stroke: #0ff;
	fill: none;
}
line { stroke: #fff }
ellipse, text, line { pointer-events: none }