html { background: #000 }
body {
	font: 100% "Lucida Grande", sans-serif;
	color: #fff;
}
label {
	display: flex;
	align-items: center;
}
input {
	flex-grow: 1;
	font-size: 1em;
	background: #444;
	color: #fff;
	padding: 0.1em;
	border: 1px solid #666;
}
svg {
	width: 100%;
	max-width: 820px;
	display: block;
	margin-top: 4px;
	fill: #aaa;
}
#daily { max-width: 960px }
tspan { fill: #fff }
h1 {
	font-size: 1.9em;
	margin: 0.2em 0;
}
@media (max-width: 900px) {
	h1 { font-size: 1.7em }
	h2 { font-size: 1.3em }
}
@media (max-width: 600px) {
	h1 { font-size: 1.5em }
	h2 { font-size: 1.2em }
}
@media (max-width: 400px) {
	h1 { font-size: 1.4em }
	h2 { font-size: 1.1em }
}
h1, h2 {
	flex-basis: 100%;
	font-weight: normal;
}
@media (min-width: 1432px) and (max-width: 2399px) {
	section > div { width: calc(50% - 16px) }
	section > div:nth-child(2) { float: left }
	section > div:nth-child(3) { float: right }
	section > div:nth-child(4) {
		clear: left;
		padding-top: 48px;
	}
}
@media (min-width: 2400px) {
	section {
		display: flex;
		flex-wrap: wrap;
	}
	h1 { width: 100% }
	section > div {
		flex-grow: 1;
		flex-basis: 770px;
	}
	section > div:not(:last-child) { margin-right: 32px }
}
#hourly-cont {
	display: flex;
	max-width: 872px;
}
#hourly-side {
	width: 12.4%;
	margin-top: 0;
	z-index: 1;
	pointer-events: none;
}
#hourly-cont2 {
	overflow-y: auto;
	margin-left: -5.5%;
	width: 100%;
}
#hourly {
	width: 350%;
	max-width: 2870px;
	margin-top: 0;
}
#hourly rect:not(:hover) + text,
#hourly rect:not(:hover) + text + text,
#hourly rect:not(:hover) + text + text + text,
#hourly rect:not(:hover) + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse + ellipse,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse + ellipse + ellipse,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse + ellipse + ellipse + ellipse,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse + ellipse + ellipse + ellipse + ellipse,
#hourly rect:not(:hover) + text + text + text + text + text + text + text + text + text + text + ellipse + ellipse + ellipse + ellipse + ellipse + ellipse { opacity: 0 }
#minutely rect:not(:hover) + text, #minutely rect:not(:hover) + text + text, #minutely rect:not(:hover) + text + text + text, #minutely rect:not(:hover) + text + text + text + ellipse { opacity: 0 }
#minutely path { fill: url(#rain-gradient) }
#hourly path, #daily path { fill: none }
line { stroke: #fff }
ellipse, text, line { pointer-events: none }
a {
	color: #fff;
	transition: color 0.1s;
}
a:visited { color: #ccc; }
a:hover { color: #4ee }
a:active { color: #faa }